<!DOCTYPE html>
<html>
  <head>
    <title>后台管理登录</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="javascripts/jquery/jquery-1.11.1.min.js"></script>
  </head>
</html>
