<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            #content {
                padding-top: 80px;
            }
        </style>

        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/signin.css" rel="stylesheet" type="text/css">

        <title>Login</title>
    </head>
    <body>
        <header class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="cursor:default">“紫荆之声”票务管理系统</a>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                    </ul>
                </div>
            </div>
        </header>

        <div id="content">
            <div class="container">
                <form id="login" class="form-signin" action="/login" method="post" role="form">
                    <input type="hidden" name="csrfmiddlewaretoken" value="VgKdNJZvKreJJPXKuqpNkkz4IRh6mCbj">
                    <h2 class="form-signin-heading">登录</h2>
                    <div id="alert"></div>

                    <input type="text" id="inputUsername" name="username" class="form-control" placeholder="用户名" required="" autofocus="" data-emoji_font="true" style="font-family: &#39;Helvetica Neue&#39;, Helvetica, Arial, sans-serif, &#39;Segoe UI Emoji&#39;, &#39;Segoe UI Symbol&#39;, Symbola, EmojiSymbols !important;">
                    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="密码" required="">

                    <input id="loginnow" type="submit" class="btn btn-block btn-primary" value="登录">
                </form>
            </div>
        </div>

        <footer class="bs-footer" role="contentinfo">
            <hr>
            <div class="container">
                <p style="text-align: right">清华紫荆之声 © 2013</p>
            </div>
        </footer>
        <script src="/javascripts/jquery-1.10.2.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>

        <script src="/javascripts/jquery.form.min.js"></script>

        <script>
            function showError(message, dom){
                $('#alert').addClass('alert alert-danger');
                $('#alert').text(message);
                dom.focus();
            }
            function response(data){
                if (data.message == 'success'){
                    location.href = data.next;
                } else{
                    switch (data.error){
                        case 'wrong':
                            showError('密码错误，请重新输入', $('#inputPassword'));
                            break;
                        case 'none':
                            showError('用户不存在，请重新输入', $('#inputUsername'));
                            break;
                        default:
                            showError('未知错误，请联系管理员', $(window));
                    }
                }
            }
            $('#login').submit(function() {
                $('#loginnow').prop('disabled', true);
                var data = {
                    dataType: 'json',
                    beforeSubmit: function(){return true},
                    success: response,
                    complete: function(){$('#loginnow').prop('disabled', false);}
                }
                $(this).ajaxSubmit(data);
                return false;
            });
        </script>
    </body>
</html>
