<!DOCTYPE html>
<html>
<head>
	<title>紫荆之声-抢票选座</title>
	<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" type="style/css" href="css/seat_litang.css">
	<script src="js/touch.min.js"></script>
	<script src="js/jquery-2.1.1.min.js"></script>
</head>
<body>
	<div id = "loading"><div id = "loading_info">Loading, <br/>please wait...</div></div>
	<div id = "front"></div>
	<div id = "table_show">
		<div id = "sq"><div id = "square"></div></div>
		<table id = "table">
			<tbody>
			<tr id = "A_show">
					<td class = "seat_Null"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Cannot 01"></td>
					<td class = "seat_Cannot 02"></td>
					<td class = "seat_Cannot 03"></td>
					<td class = "seat_Cannot 04"></td>
					<td class = "seat_Cannot 05"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Cannot 06"></td>
					<td class = "seat_Cannot 07"></td>
					<td class = "seat_Cannot 08"></td>
					<td class = "seat_Cannot 09"></td>
					<td class = "seat_Cannot 10"></td>
					<td class = "seat_Cannot 11"></td>
					<td class = "seat_Cannot 12"></td>
					<td class = "seat_Cannot 13"></td>
					<td class = "seat_Cannot 14"></td>
					<td class = "seat_Cannot 15"></td>
					<td class = "seat_Cannot 16"></td>
					<td class = "seat_Cannot 17"></td>
					<td class = "seat_Cannot 18"></td>
					<td class = "seat_Cannot 19"></td>
					<td class = "seat_Cannot 20"></td>
					<td class = "seat_Cannot 21"></td>
					<td class = "seat_Cannot 22"></td>
					<td class = "seat_Cannot 23"></td>
					<td class = "seat_Cannot 24"></td>
					<td class = "seat_Cannot 25"></td>
					<td class = "seat_Cannot 26"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Cannot 27"></td>
					<td class = "seat_Cannot 28"></td>
					<td class = "seat_Cannot 29"></td>
					<td class = "seat_Cannot 30"></td>
					<td class = "seat_Cannot 31"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Null"></td>
			</tr>
			<tr id = "B_show">
				<td class = "seat_Null"></td>
				<td class = "seat_Null"></td>
				<td class = "seat_Cannot 01"></td>
				<td class = "seat_Cannot 02"></td>
				<td class = "seat_Cannot 03"></td>
				<td class = "seat_Cannot 04"></td>
				<td class = "seat_Cannot 05"></td>
				<td class = "seat_Cannot 06"></td>
				<td class = "seat_Null"></td>
				<td class = "seat_Cannot 07"></td>
				<td class = "seat_Cannot 08"></td>
				<td class = "seat_Cannot 09"></td>
				<td class = "seat_Cannot 10"></td>
				<td class = "seat_Cannot 11"></td>
				<td class = "seat_Cannot 12"></td>
				<td class = "seat_Cannot 13"></td>
				<td class = "seat_Cannot 14"></td>
				<td class = "seat_Cannot 15"></td>
				<td class = "seat_Cannot 16"></td>
				<td class = "seat_Cannot 17"></td>
				<td class = "seat_Cannot 18"></td>
				<td class = "seat_Cannot 19"></td>
				<td class = "seat_Cannot 20"></td>
				<td class = "seat_Cannot 21"></td>
				<td class = "seat_Cannot 22"></td>
				<td class = "seat_Cannot 23"></td>
				<td class = "seat_Cannot 24"></td>
				<td class = "seat_Cannot 25"></td>
				<td class = "seat_Cannot 26"></td>
				<td class = "seat_Cannot 27"></td>
				<td class = "seat_Cannot 28"></td>
				<td class = "seat_Null"></td>
				<td class = "seat_Cannot 29"></td>
				<td class = "seat_Cannot 30"></td>
				<td class = "seat_Cannot 31"></td>
				<td class = "seat_Cannot 32"></td>
				<td class = "seat_Cannot 33"></td>
				<td class = "seat_Cannot 34"></td>
				<td class = "seat_Null"></td>
				<td class = "seat_Null"></td>
			</tr>
			<tr id = "C_show">
				<td class = "seat_Null"></td>
				<td class = "seat_Cannot 01"></td>
				<td class = "seat_Cannot 02"></td>
				<td class = "seat_Cannot 03"></td>
				<td class = "seat_Cannot 04"></td>
				<td class = "seat_Cannot 05"></td>
				<td class = "seat_Cannot 06"></td>
				<td class = "seat_Cannot 07"></td>
				<td class = "seat_Null"></td>
				<td class = "seat_Cannot 08"></td>
				<td class = "seat_Cannot 09"></td>
				<td class = "seat_Cannot 10"></td>
				<td class = "seat_Cannot 11"></td>
				<td class = "seat_Cannot 12"></td>
				<td class = "seat_Cannot 13"></td>
				<td class = "seat_Cannot 14"></td>
				<td class = "seat_Cannot 15"></td>
				<td class = "seat_Cannot 16"></td>
				<td class = "seat_Cannot 17"></td>
				<td class = "seat_Cannot 18"></td>
				<td class = "seat_Cannot 19"></td>
				<td class = "seat_Cannot 20"></td>
				<td class = "seat_Cannot 21"></td>
				<td class = "seat_Cannot 22"></td>
				<td class = "seat_Cannot 23"></td>
				<td class = "seat_Cannot 24"></td>
				<td class = "seat_Cannot 25"></td>
				<td class = "seat_Cannot 26"></td>
				<td class = "seat_Cannot 27"></td>
				<td class = "seat_Cannot 28"></td>
				<td class = "seat_Null"></td>
				<td class = "seat_Null"></td>
				<td class = "seat_Cannot 29"></td>
				<td class = "seat_Cannot 30"></td>
				<td class = "seat_Cannot 31"></td>
				<td class = "seat_Cannot 32"></td>
				<td class = "seat_Cannot 33"></td>
				<td class = "seat_Cannot 34"></td>
				<td class = "seat_Cannot 35"></td>
				<td class = "seat_Null"></td>
			</tr>
			<tr id = "D_show">
				<td class = "seat_Cannot 01"></td>
				<td class = "seat_Cannot 02"></td>
				<td class = "seat_Cannot 03"></td>
				<td class = "seat_Cannot 04"></td>
				<td class = "seat_Cannot 05"></td>
				<td class = "seat_Cannot 06"></td>
				<td class = "seat_Cannot 07"></td>
				<td class = "seat_Cannot 08"></td>
				<td class = "seat_Null"></td>
				<td class = "seat_Cannot 09"></td>
				<td class = "seat_Cannot 10"></td>
				<td class = "seat_Cannot 11"></td>
				<td class = "seat_Cannot 12"></td>
				<td class = "seat_Cannot 13"></td>
				<td class = "seat_Cannot 14"></td>
				<td class = "seat_Cannot 15"></td>
				<td class = "seat_Cannot 16"></td>
				<td class = "seat_Cannot 17"></td>
				<td class = "seat_Cannot 18"></td>
				<td class = "seat_Cannot 19"></td>
				<td class = "seat_Cannot 20"></td>
				<td class = "seat_Cannot 21"></td>
				<td class = "seat_Cannot 22"></td>
				<td class = "seat_Cannot 23"></td>
				<td class = "seat_Cannot 24"></td>
				<td class = "seat_Cannot 25"></td>
				<td class = "seat_Cannot 26"></td>
				<td class = "seat_Cannot 27"></td>
				<td class = "seat_Cannot 28"></td>
				<td class = "seat_Cannot 29"></td>
				<td class = "seat_Cannot 30"></td>
				<td class = "seat_Null"></td>
				<td class = "seat_Cannot 31"></td>
				<td class = "seat_Cannot 32"></td>
				<td class = "seat_Cannot 33"></td>
				<td class = "seat_Cannot 34"></td>
				<td class = "seat_Cannot 35"></td>
				<td class = "seat_Cannot 36"></td>
				<td class = "seat_Cannot 37"></td>
				<td class = "seat_Cannot 38"></td>
			</tr>
			<tr id = "E_show">
				<td class = "seat_Cannot 01"></td>
				<td class = "seat_Cannot 02"></td>
				<td class = "seat_Cannot 03"></td>
				<td class = "seat_Cannot 04"></td>
				<td class = "seat_Cannot 05"></td>
				<td class = "seat_Cannot 06"></td>
				<td class = "seat_Cannot 07"></td>
				<td class = "seat_Cannot 08"></td>
				<td class = "seat_Null"></td>
				<td class = "seat_Cannot 09"></td>
				<td class = "seat_Cannot 10"></td>
				<td class = "seat_Cannot 11"></td>
				<td class = "seat_Cannot 12"></td>
				<td class = "seat_Cannot 13"></td>
				<td class = "seat_Cannot 14"></td>
				<td class = "seat_Cannot 15"></td>
				<td class = "seat_Cannot 16"></td>
				<td class = "seat_Cannot 17"></td>
				<td class = "seat_Cannot 18"></td>
				<td class = "seat_Cannot 19"></td>
				<td class = "seat_Cannot 20"></td>
				<td class = "seat_Cannot 21"></td>
				<td class = "seat_Cannot 22"></td>
				<td class = "seat_Cannot 23"></td>
				<td class = "seat_Cannot 24"></td>
				<td class = "seat_Cannot 25"></td>
				<td class = "seat_Cannot 26"></td>
				<td class = "seat_Cannot 27"></td>
				<td class = "seat_Cannot 28"></td>
				<td class = "seat_Cannot 29"></td>
				<td class = "seat_Null"></td>
				<td class = "seat_Null"></td>
				<td class = "seat_Cannot 30"></td>
				<td class = "seat_Cannot 31"></td>
				<td class = "seat_Cannot 32"></td>
				<td class = "seat_Cannot 33"></td>
				<td class = "seat_Cannot 34"></td>
				<td class = "seat_Cannot 35"></td>
				<td class = "seat_Cannot 36"></td>
				<td class = "seat_Cannot 37"></td>
			</tr>
			<tr id = "F_show">
				<td class = "seat_Cannot 01"></td>
				<td class = "seat_Cannot 02"></td>
				<td class = "seat_Cannot 03"></td>
				<td class = "seat_Cannot 04"></td>
				<td class = "seat_Cannot 05"></td>
				<td class = "seat_Cannot 06"></td>
				<td class = "seat_Cannot 07"></td>
				<td class = "seat_Cannot 08"></td>
				<td class = "seat_Null"></td>
				<td class = "seat_Cannot 09"></td>
				<td class = "seat_Cannot 10"></td>
				<td class = "seat_Cannot 11"></td>
				<td class = "seat_Cannot 12"></td>
				<td class = "seat_Cannot 13"></td>
				<td class = "seat_Cannot 14"></td>
				<td class = "seat_Cannot 15"></td>
				<td class = "seat_Cannot 16"></td>
				<td class = "seat_Cannot 17"></td>
				<td class = "seat_Cannot 18"></td>
				<td class = "seat_Cannot 19"></td>
				<td class = "seat_Cannot 20"></td>
				<td class = "seat_Cannot 21"></td>
				<td class = "seat_Cannot 22"></td>
				<td class = "seat_Cannot 23"></td>
				<td class = "seat_Cannot 24"></td>
				<td class = "seat_Cannot 25"></td>
				<td class = "seat_Cannot 26"></td>
				<td class = "seat_Cannot 27"></td>
				<td class = "seat_Cannot 28"></td>
				<td class = "seat_Cannot 29"></td>
				<td class = "seat_Cannot 30"></td>
				<td class = "seat_Null"></td>
				<td class = "seat_Cannot 31"></td>
				<td class = "seat_Cannot 32"></td>
				<td class = "seat_Cannot 33"></td>
				<td class = "seat_Cannot 34"></td>
				<td class = "seat_Cannot 35"></td>
				<td class = "seat_Cannot 36"></td>
				<td class = "seat_Cannot 37"></td>
				<td class = "seat_Cannot 38"></td>
			</tr>
			<tr id = "G_show">
				<td class = "seat_Cannot 01"></td>
				<td class = "seat_Cannot 02"></td>
				<td class = "seat_Cannot 03"></td>
				<td class = "seat_Cannot 04"></td>
				<td class = "seat_Cannot 05"></td>
				<td class = "seat_Cannot 06"></td>
				<td class = "seat_Cannot 07"></td>
				<td class = "seat_Cannot 08"></td>
				<td class = "seat_Null"></td>
				<td class = "seat_Cannot 09"></td>
				<td class = "seat_Cannot 10"></td>
				<td class = "seat_Cannot 11"></td>
				<td class = "seat_Cannot 12"></td>
				<td class = "seat_Cannot 13"></td>
				<td class = "seat_Cannot 14"></td>
				<td class = "seat_Cannot 15"></td>
				<td class = "seat_Cannot 16"></td>
				<td class = "seat_Cannot 17"></td>
				<td class = "seat_Cannot 18"></td>
				<td class = "seat_Cannot 19"></td>
				<td class = "seat_Cannot 20"></td>
				<td class = "seat_Cannot 21"></td>
				<td class = "seat_Cannot 22"></td>
				<td class = "seat_Cannot 23"></td>
				<td class = "seat_Cannot 24"></td>
				<td class = "seat_Cannot 25"></td>
				<td class = "seat_Cannot 26"></td>
				<td class = "seat_Cannot 27"></td>
				<td class = "seat_Cannot 28"></td>
				<td class = "seat_Cannot 29"></td>
				<td class = "seat_Null"></td>
				<td class = "seat_Null"></td>
				<td class = "seat_Cannot 30"></td>
				<td class = "seat_Cannot 31"></td>
				<td class = "seat_Cannot 32"></td>
				<td class = "seat_Cannot 33"></td>
				<td class = "seat_Cannot 34"></td>
				<td class = "seat_Cannot 35"></td>
				<td class = "seat_Cannot 36"></td>
				<td class = "seat_Cannot 37"></td>
			</tr>
			<tr id = "H_show">
				<td class = "seat_Cannot 01"></td>
				<td class = "seat_Cannot 02"></td>
				<td class = "seat_Cannot 03"></td>
				<td class = "seat_Cannot 04"></td>
				<td class = "seat_Cannot 05"></td>
				<td class = "seat_Cannot 06"></td>
				<td class = "seat_Cannot 07"></td>
				<td class = "seat_Cannot 08"></td>
				<td class = "seat_Null"></td>
				<td class = "seat_Cannot 09"></td>
				<td class = "seat_Cannot 10"></td>
				<td class = "seat_Cannot 11"></td>
				<td class = "seat_Cannot 12"></td>
				<td class = "seat_Cannot 13"></td>
				<td class = "seat_Cannot 14"></td>
				<td class = "seat_Cannot 15"></td>
				<td class = "seat_Cannot 16"></td>
				<td class = "seat_Cannot 17"></td>
				<td class = "seat_Cannot 18"></td>
				<td class = "seat_Cannot 19"></td>
				<td class = "seat_Cannot 20"></td>
				<td class = "seat_Cannot 21"></td>
				<td class = "seat_Cannot 22"></td>
				<td class = "seat_Cannot 23"></td>
				<td class = "seat_Cannot 24"></td>
				<td class = "seat_Cannot 25"></td>
				<td class = "seat_Cannot 26"></td>
				<td class = "seat_Cannot 27"></td>
				<td class = "seat_Cannot 28"></td>
				<td class = "seat_Cannot 29"></td>
				<td class = "seat_Cannot 30"></td>
				<td class = "seat_Null"></td>
				<td class = "seat_Cannot 31"></td>
				<td class = "seat_Cannot 32"></td>
				<td class = "seat_Cannot 33"></td>
				<td class = "seat_Cannot 34"></td>
				<td class = "seat_Cannot 35"></td>
				<td class = "seat_Cannot 36"></td>
				<td class = "seat_Cannot 37"></td>
				<td class = "seat_Cannot 38"></td>
			</tr>
			</tbody>
		</table>
	</div>
	<div id = "seat_Intro">
		<span>
		<i class = "sign_Stu"></i>
		<a>可选</a>
		</span>
		<span>
	<!--<i class = "sign_Normal"></i>-->
		<i class = "sign_Selected"></i>
		<a>已选</a>
		</span>
		<span>
		<i class = "sign_Cannot"></i>
		<a>不可选</a>
		</span>
	</div>
	<div id = "tb_Container">
		<div id = "floor1">
			<table id = "tb_Seat">
				<tr id = "A">
					<td class = "seat_Null"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Cannot 01"></td>
					<td class = "seat_Cannot 02"></td>
					<td class = "seat_Cannot 03"></td>
					<td class = "seat_Cannot 04"></td>
					<td class = "seat_Cannot 05"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Cannot 06"></td>
					<td class = "seat_Cannot 07"></td>
					<td class = "seat_Cannot 08"></td>
					<td class = "seat_Cannot 09"></td>
					<td class = "seat_Cannot 10"></td>
					<td class = "seat_Cannot 11"></td>
					<td class = "seat_Cannot 12"></td>
					<td class = "seat_Cannot 13"></td>
					<td class = "seat_Cannot 14"></td>
					<td class = "seat_Cannot 15"></td>
					<td class = "seat_Cannot 16"></td>
					<td class = "seat_Cannot 17"></td>
					<td class = "seat_Cannot 18"></td>
					<td class = "seat_Cannot 19"></td>
					<td class = "seat_Cannot 20"></td>
					<td class = "seat_Cannot 21"></td>
					<td class = "seat_Cannot 22"></td>
					<td class = "seat_Cannot 23"></td>
					<td class = "seat_Cannot 24"></td>
					<td class = "seat_Cannot 25"></td>
					<td class = "seat_Cannot 26"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Cannot 27"></td>
					<td class = "seat_Cannot 28"></td>
					<td class = "seat_Cannot 29"></td>
					<td class = "seat_Cannot 30"></td>
					<td class = "seat_Cannot 31"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Null"></td>
				</tr>
				<tr id = "B">
					<td class = "seat_Null"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Cannot 01"></td>
					<td class = "seat_Cannot 02"></td>
					<td class = "seat_Cannot 03"></td>
					<td class = "seat_Cannot 04"></td>
					<td class = "seat_Cannot 05"></td>
					<td class = "seat_Cannot 06"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Cannot 07"></td>
					<td class = "seat_Cannot 08"></td>
					<td class = "seat_Cannot 09"></td>
					<td class = "seat_Cannot 10"></td>
					<td class = "seat_Cannot 11"></td>
					<td class = "seat_Cannot 12"></td>
					<td class = "seat_Cannot 13"></td>
					<td class = "seat_Cannot 14"></td>
					<td class = "seat_Cannot 15"></td>
					<td class = "seat_Cannot 16"></td>
					<td class = "seat_Cannot 17"></td>
					<td class = "seat_Cannot 18"></td>
					<td class = "seat_Cannot 19"></td>
					<td class = "seat_Cannot 20"></td>
					<td class = "seat_Cannot 21"></td>
					<td class = "seat_Cannot 22"></td>
					<td class = "seat_Cannot 23"></td>
					<td class = "seat_Cannot 24"></td>
					<td class = "seat_Cannot 25"></td>
					<td class = "seat_Cannot 26"></td>
					<td class = "seat_Cannot 27"></td>
					<td class = "seat_Cannot 28"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Cannot 29"></td>
					<td class = "seat_Cannot 30"></td>
					<td class = "seat_Cannot 31"></td>
					<td class = "seat_Cannot 32"></td>
					<td class = "seat_Cannot 33"></td>
					<td class = "seat_Cannot 34"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Null"></td>
				</tr>
				<tr id = "C">
					<td class = "seat_Null"></td>
					<td class = "seat_Cannot 01"></td>
					<td class = "seat_Cannot 02"></td>
					<td class = "seat_Cannot 03"></td>
					<td class = "seat_Cannot 04"></td>
					<td class = "seat_Cannot 05"></td>
					<td class = "seat_Cannot 06"></td>
					<td class = "seat_Cannot 07"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Cannot 08"></td>
					<td class = "seat_Cannot 09"></td>
					<td class = "seat_Cannot 10"></td>
					<td class = "seat_Cannot 11"></td>
					<td class = "seat_Cannot 12"></td>
					<td class = "seat_Cannot 13"></td>
					<td class = "seat_Cannot 14"></td>
					<td class = "seat_Cannot 15"></td>
					<td class = "seat_Cannot 16"></td>
					<td class = "seat_Cannot 17"></td>
					<td class = "seat_Cannot 18"></td>
					<td class = "seat_Cannot 19"></td>
					<td class = "seat_Cannot 20"></td>
					<td class = "seat_Cannot 21"></td>
					<td class = "seat_Cannot 22"></td>
					<td class = "seat_Cannot 23"></td>
					<td class = "seat_Cannot 24"></td>
					<td class = "seat_Cannot 25"></td>
					<td class = "seat_Cannot 26"></td>
					<td class = "seat_Cannot 27"></td>
					<td class = "seat_Cannot 28"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Cannot 29"></td>
					<td class = "seat_Cannot 30"></td>
					<td class = "seat_Cannot 31"></td>
					<td class = "seat_Cannot 32"></td>
					<td class = "seat_Cannot 33"></td>
					<td class = "seat_Cannot 34"></td>
					<td class = "seat_Cannot 35"></td>
					<td class = "seat_Null"></td>
				</tr>
				<tr id = "D">
					<td class = "seat_Cannot 01"></td>
					<td class = "seat_Cannot 02"></td>
					<td class = "seat_Cannot 03"></td>
					<td class = "seat_Cannot 04"></td>
					<td class = "seat_Cannot 05"></td>
					<td class = "seat_Cannot 06"></td>
					<td class = "seat_Cannot 07"></td>
					<td class = "seat_Cannot 08"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Cannot 09"></td>
					<td class = "seat_Cannot 10"></td>
					<td class = "seat_Cannot 11"></td>
					<td class = "seat_Cannot 12"></td>
					<td class = "seat_Cannot 13"></td>
					<td class = "seat_Cannot 14"></td>
					<td class = "seat_Cannot 15"></td>
					<td class = "seat_Cannot 16"></td>
					<td class = "seat_Cannot 17"></td>
					<td class = "seat_Cannot 18"></td>
					<td class = "seat_Cannot 19"></td>
					<td class = "seat_Cannot 20"></td>
					<td class = "seat_Cannot 21"></td>
					<td class = "seat_Cannot 22"></td>
					<td class = "seat_Cannot 23"></td>
					<td class = "seat_Cannot 24"></td>
					<td class = "seat_Cannot 25"></td>
					<td class = "seat_Cannot 26"></td>
					<td class = "seat_Cannot 27"></td>
					<td class = "seat_Cannot 28"></td>
					<td class = "seat_Cannot 29"></td>
					<td class = "seat_Cannot 30"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Cannot 31"></td>
					<td class = "seat_Cannot 32"></td>
					<td class = "seat_Cannot 33"></td>
					<td class = "seat_Cannot 34"></td>
					<td class = "seat_Cannot 35"></td>
					<td class = "seat_Cannot 36"></td>
					<td class = "seat_Cannot 37"></td>
					<td class = "seat_Cannot 38"></td>
				</tr>
				<tr id = "E">
					<td class = "seat_Cannot 01"></td>
					<td class = "seat_Cannot 02"></td>
					<td class = "seat_Cannot 03"></td>
					<td class = "seat_Cannot 04"></td>
					<td class = "seat_Cannot 05"></td>
					<td class = "seat_Cannot 06"></td>
					<td class = "seat_Cannot 07"></td>
					<td class = "seat_Cannot 08"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Cannot 09"></td>
					<td class = "seat_Cannot 10"></td>
					<td class = "seat_Cannot 11"></td>
					<td class = "seat_Cannot 12"></td>
					<td class = "seat_Cannot 13"></td>
					<td class = "seat_Cannot 14"></td>
					<td class = "seat_Cannot 15"></td>
					<td class = "seat_Cannot 16"></td>
					<td class = "seat_Cannot 17"></td>
					<td class = "seat_Cannot 18"></td>
					<td class = "seat_Cannot 19"></td>
					<td class = "seat_Cannot 20"></td>
					<td class = "seat_Cannot 21"></td>
					<td class = "seat_Cannot 22"></td>
					<td class = "seat_Cannot 23"></td>
					<td class = "seat_Cannot 24"></td>
					<td class = "seat_Cannot 25"></td>
					<td class = "seat_Cannot 26"></td>
					<td class = "seat_Cannot 27"></td>
					<td class = "seat_Cannot 28"></td>
					<td class = "seat_Cannot 29"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Cannot 30"></td>
					<td class = "seat_Cannot 31"></td>
					<td class = "seat_Cannot 32"></td>
					<td class = "seat_Cannot 33"></td>
					<td class = "seat_Cannot 34"></td>
					<td class = "seat_Cannot 35"></td>
					<td class = "seat_Cannot 36"></td>
					<td class = "seat_Cannot 37"></td>
				</tr>
				<tr id = "F">
					<td class = "seat_Cannot 01"></td>
					<td class = "seat_Cannot 02"></td>
					<td class = "seat_Cannot 03"></td>
					<td class = "seat_Cannot 04"></td>
					<td class = "seat_Cannot 05"></td>
					<td class = "seat_Cannot 06"></td>
					<td class = "seat_Cannot 07"></td>
					<td class = "seat_Cannot 08"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Cannot 09"></td>
					<td class = "seat_Cannot 10"></td>
					<td class = "seat_Cannot 11"></td>
					<td class = "seat_Cannot 12"></td>
					<td class = "seat_Cannot 13"></td>
					<td class = "seat_Cannot 14"></td>
					<td class = "seat_Cannot 15"></td>
					<td class = "seat_Cannot 16"></td>
					<td class = "seat_Cannot 17"></td>
					<td class = "seat_Cannot 18"></td>
					<td class = "seat_Cannot 19"></td>
					<td class = "seat_Cannot 20"></td>
					<td class = "seat_Cannot 21"></td>
					<td class = "seat_Cannot 22"></td>
					<td class = "seat_Cannot 23"></td>
					<td class = "seat_Cannot 24"></td>
					<td class = "seat_Cannot 25"></td>
					<td class = "seat_Cannot 26"></td>
					<td class = "seat_Cannot 27"></td>
					<td class = "seat_Cannot 28"></td>
					<td class = "seat_Cannot 29"></td>
					<td class = "seat_Cannot 30"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Cannot 31"></td>
					<td class = "seat_Cannot 32"></td>
					<td class = "seat_Cannot 33"></td>
					<td class = "seat_Cannot 34"></td>
					<td class = "seat_Cannot 35"></td>
					<td class = "seat_Cannot 36"></td>
					<td class = "seat_Cannot 37"></td>
					<td class = "seat_Cannot 38"></td>
				</tr>
				<tr id = "G">
					<td class = "seat_Cannot 01"></td>
					<td class = "seat_Cannot 02"></td>
					<td class = "seat_Cannot 03"></td>
					<td class = "seat_Cannot 04"></td>
					<td class = "seat_Cannot 05"></td>
					<td class = "seat_Cannot 06"></td>
					<td class = "seat_Cannot 07"></td>
					<td class = "seat_Cannot 08"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Cannot 09"></td>
					<td class = "seat_Cannot 10"></td>
					<td class = "seat_Cannot 11"></td>
					<td class = "seat_Cannot 12"></td>
					<td class = "seat_Cannot 13"></td>
					<td class = "seat_Cannot 14"></td>
					<td class = "seat_Cannot 15"></td>
					<td class = "seat_Cannot 16"></td>
					<td class = "seat_Cannot 17"></td>
					<td class = "seat_Cannot 18"></td>
					<td class = "seat_Cannot 19"></td>
					<td class = "seat_Cannot 20"></td>
					<td class = "seat_Cannot 21"></td>
					<td class = "seat_Cannot 22"></td>
					<td class = "seat_Cannot 23"></td>
					<td class = "seat_Cannot 24"></td>
					<td class = "seat_Cannot 25"></td>
					<td class = "seat_Cannot 26"></td>
					<td class = "seat_Cannot 27"></td>
					<td class = "seat_Cannot 28"></td>
					<td class = "seat_Cannot 29"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Cannot 30"></td>
					<td class = "seat_Cannot 31"></td>
					<td class = "seat_Cannot 32"></td>
					<td class = "seat_Cannot 33"></td>
					<td class = "seat_Cannot 34"></td>
					<td class = "seat_Cannot 35"></td>
					<td class = "seat_Cannot 36"></td>
					<td class = "seat_Cannot 37"></td>
				</tr>
				<tr id = "H">
					<td class = "seat_Cannot 01"></td>
					<td class = "seat_Cannot 02"></td>
					<td class = "seat_Cannot 03"></td>
					<td class = "seat_Cannot 04"></td>
					<td class = "seat_Cannot 05"></td>
					<td class = "seat_Cannot 06"></td>
					<td class = "seat_Cannot 07"></td>
					<td class = "seat_Cannot 08"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Cannot 09"></td>
					<td class = "seat_Cannot 10"></td>
					<td class = "seat_Cannot 11"></td>
					<td class = "seat_Cannot 12"></td>
					<td class = "seat_Cannot 13"></td>
					<td class = "seat_Cannot 14"></td>
					<td class = "seat_Cannot 15"></td>
					<td class = "seat_Cannot 16"></td>
					<td class = "seat_Cannot 17"></td>
					<td class = "seat_Cannot 18"></td>
					<td class = "seat_Cannot 19"></td>
					<td class = "seat_Cannot 20"></td>
					<td class = "seat_Cannot 21"></td>
					<td class = "seat_Cannot 22"></td>
					<td class = "seat_Cannot 23"></td>
					<td class = "seat_Cannot 24"></td>
					<td class = "seat_Cannot 25"></td>
					<td class = "seat_Cannot 26"></td>
					<td class = "seat_Cannot 27"></td>
					<td class = "seat_Cannot 28"></td>
					<td class = "seat_Cannot 29"></td>
					<td class = "seat_Cannot 30"></td>
					<td class = "seat_Null"></td>
					<td class = "seat_Cannot 31"></td>
					<td class = "seat_Cannot 32"></td>
					<td class = "seat_Cannot 33"></td>
					<td class = "seat_Cannot 34"></td>
					<td class = "seat_Cannot 35"></td>
					<td class = "seat_Cannot 36"></td>
					<td class = "seat_Cannot 37"></td>
					<td class = "seat_Cannot 38"></td>
				</tr>
			</table>
		</div>
	</div>
<!-- 	<div id = "instruction">
		您可以通过双指缩放以及拖拽来移动座位图，以便选择心仪的座位。
	</div> -->
	<div id = "info_Area">
		<div id = "item">
			<ul>
				<li>选座截止时间：</li>
				<li>当前活动状态：</li>
				<li>您的座位详情：</li>
			</ul>
		</div>
		<div id = "info">
			<ul>
				<li id = "book_time"></li>
				<li id = "ticket_state">可选座/可订票</li>
				<li id = "seat_info">暂未选座</li>
			</ul>
		</div>
	</div>
	<div id = "buttom">
		<div id = "buttom_frame">
			<i class = "icon-heart-empty buttom_icon" ></i>
			<a>提交选座信息</a>
		</div>
	</div>
	<div id = "alertFrame">
		<div id = "alertInfo">

		</div>
	</div>
	<div id = "submitArea" style="display:none;"></div>
</body>
	<script>
		//test
		//test
		var ticket_id = "<%= tid %>";
		var book_time = "<%= bookddl%>";
		var ticketLeft = JSON.parse("<%- seatMap %>");
		stateCode = <%= errorid %>;
	</script>
	<script src="js/floor_litang.js" type="text/javascript" charset="utf-8"></script>
</html>
