
        .loading {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: fixed;
            z-index: 20;
            background: rgba(0, 0, 0, 0.8);
            opacity: 1;
            top: 0;
        }
        .loading .load-box {
            top: 30%;
            position: relative;
        }
        .loading .load-big-robot {
            background-color: rgba(0, 0, 0, 0);
            border: 5px solid #E02A23;
            opacity: .9;
            border-right: 5px solid rgba(29, 24, 24, 0);
            border-left: 5px solid rgba(0, 0, 0, 0);
            border-radius: 50px;
            box-shadow: 0 0 35px 0px #FFEFEF;
            width: 35px;
            height: 35px;
            margin: 0 auto;
            animation: bigRobot 1s infinite linear;
            -webkit-animation: bigRobot 1s infinite linear;
            -ms-animation: bigRobot 1s infinite ease-in-out;
        }
        .loading .load-small-robot {
            background-color: rgba(0, 0, 0, 0);
            border: 3px solid rgba(38, 38, 38, 1);
            opacity: .9;
            border-left: 3px solid rgba(0, 0, 0, 0);
            border-right: 3px solid rgba(0, 0, 0, 0);
            border-radius: 50px;
            box-shadow: 0 0 15px #666666;
            width: 15px;
            height: 15px;
            margin: 0 auto;
            position: relative;
            top: -25px;
            animation: smallRobot 1s infinite linear;
            -webkit-animation: smallRobot 1s infinite linear;
            -ms-animation: smallRobot 1s infinite linear;
        }
        @keyframes bigRobot {
            0% {
                -webkit-transform: rotate(160deg);
                opacity: 0;
                box-shadow: 0 0 1px #2187e7;
            }
            50% {
                -webkit-transform: rotate(145deg);
                opacity: 1;
            }
            100% {
                -webkit-transform: rotate(-320deg);
                opacity: 0;
            }
        }
        @keyframes smallRobot {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }
        @-webkit-keyframes bigRobot {
            0% {
                -webkit-transform: rotate(160deg);
                opacity: 0;
                box-shadow: 0 0 1px #2187e7;
            }
            50% {
                -webkit-transform: rotate(145deg);
                opacity: 1;
            }
            100% {
                -webkit-transform: rotate(-320deg);
                opacity: 0;
            }
        }
        @-webkit-keyframes smallRobot {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }
        @-ms-keyframes bigRobot {
            0% {
                -ms-transform: rotate(160deg);
                opacity: 0;
                box-shadow: 0 0 1px #2187e7;
            }
            50% {
                -ms-transform: rotate(145deg);
                opacity: 1;
            }
            100% {
                -ms-transform: rotate(-320deg);
                opacity: 0;
            }
        }
        @-ms-keyframes smallRobot {
            0% {
                -ms-transform: rotate(0deg);
            }
            100% {
                -ms-transform: rotate(360deg);
            }
        }
        .loading .msg {
            text-align: center;
            color: #ffffff
        }